@import "tailwindcss";



:root {
  --color-purple1: #10002B;
  --color-purple2: #3C0A6C;
  --color-purple3: #7B2CBF;
  --color-purple4: #E1A9FF;
  --color-white: #ffffff;
  --color-black: #000000;

  /* map background/foreground used by your CSS */
  --background: var(--color-purple1);
  --foreground: var(--color-white);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}